* {
    margin: 0;
    padding: 0;
    ;
}

body {
    background-color: rgb(3, 3, 49);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(42, 4, 112);
    height: 75px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;

}

nav ul li a:hover {

    color: rgb(204, 53, 171);
    font-size: 1.1rem;

}

.footer .footer-1 ul li:hover {
    color: rgb(204, 53, 171);
    font-size: 1.1rem;
}

.left {
    font-size: 1.5rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

.firstsection>div {
    width: 30%;

}

.leftsection {
    font-size: 2.1rem;

}

.rightsection img {
    width: 80%;
    margin: 20px 0;

}

.purple {
    color: rgb(151, 16, 151);
    font-size: 3.5rem;
}

.text-grey {
    color: grey;
    font-size: 18px;

}

#element {
    color: rgb(151, 16, 151);
}

.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondsection h1 {
    font-size: 1.9rem;
}

.secondsection .horizontal-line {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.horizontal-line .vertical-line {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 112px;
}

.image-top {
    width: 25px;
    position: relative;
    top: -32px;
    left: -9px;
}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;

}


.vertical-text {
    position: relative;
    top: 86px;
    width: 150px;
    font-size: 10px;
}

.footer {
    height: 200px;
    background-color: rgb(42, 4, 112);
    display: flex;
    align-items: center;

}

.footer ul {
    list-style: none;
}

.footer>div {
    width: 250px;
    margin: 0px 130px;

}

.footer-text-center {
    text-align: center;
    color: white;
    padding: 12px 0;
}